.m1{
	float: left;
	width: 50%;
	background: url('../../../../assets/images/trama.svg') bottom center no-repeat #0033A0;
	background-size: contain;
	color: #fff;
	min-height: 100vh;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
   
	img{
		margin: 0 auto;
	}

	h2{
		margin-top: 80px;
		font-size: 50px;
		font-weight: 600;
		line-height: 50px;
		max-width: 420px;
		color: #fff;

		span{
			float: left;
			clear: both;
			font-weight: 600;
			font-size: 14px;
			background: #fff;
			color: #0033A0;
			line-height: 50px;
			padding: 0 25px;
			border-radius: 25px;
			margin-bottom: 30px;
		}
		strong{
			float: left;
			width: 100%;
			font-weight: 600;
			font-size: 54px;
		}
		small{
			float: left;
			width: 100%;
			font-size: 38px;
		}
	}
}

.m2{
	float: left;
	width: 50%;
	min-height: 100vh;
	background: #EDEDED;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;

	.form{
		display: table;
		clear: both;
		margin: 0 auto;
		max-width: 615px;
		width: 100%;
		padding: 0 80px;
	}
	.btns{
		float: left;
		width: 100%;

		.a1{
			float: left;
			width: 50%;
			background: #fff;
			line-height: 58px;
			border-radius: 100px 0 0 100px;
			font-size: 12px;
			color: #53565A;
			text-decoration: none;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: 500;
		}
		.a2{
			float: left;
			width: 50%;
			background: #fff;
			line-height: 58px;
			border-radius: 0 100px 100px 0;
			font-size: 12px;
			color: #53565A;
			text-decoration: none;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: 500;
		}
		.active{
			background: #00AEC7;
			color: #fff;
		}
	}
	h2{
		float: left;
		width: 100%;
		margin: 50px 0 20px;
		color: #53565A;
		font-size: 30px;
		font-weight: 600;
	}
	p{
		float: left;
		width: 100%;
		font-size: 14px;
		margin: 0;
		font-family: 'Barlow', sans-serif;
	}
	.campos{
		float: left;
		width: 100%;
		margin-top: 50px;
	}
	.campo{
		float: left;
		width: 100%;
		margin-bottom: 20px;

		.m{
			float: left;
			width: calc(50% - 10px);
			margin-right: 20px;
		}
		.m:nth-child(2n){
			margin-right: 0;
		}
		input{
			float: left;
			width: 100%;
			background: #fff;
			line-height: 50px;
			border-radius: 25px;
			color: #53565A;
			border: 0;
			padding: 0 25px;
			font-size: 12px;
		}
		input::placeholder{
			color: #53565A;
		}
		.btn{
			float: left;
			width: 100%;
			background: #0033A0;
			color: #fff;
			border: 0;
			border-radius: 25px;
			line-height: 50px;
			font-size: 12px;
			font-weight: 600;
			height: auto;
			padding: 0;
			text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
		}
		.a3{
			display: table;
			clear: both;
			margin: 0 auto;
			color: #3D5B9C;
			text-transform: uppercase;
			font-size: 12px;
			text-decoration: none;
			font-weight: 600;
		}
		.tel{
			position: relative;
		}
		.tel span{
			position: absolute;
			top: 0;
			left: 20px;
			line-height: 50px;
			font-size: 12px;
			color: #53565A;
		}
		.tel input{
			padding-left: 50px;
		}
	}
	.copyright{
		float: left;
		width: 100%;
		text-align: center;
		font-weight: 400;
		font-size: 12px;
		color: #53565A;
		margin-top: 40px;
		font-family: 'Montserrat', sans-serif;
	}
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
	.m1{
		width: 100%;
		padding: 0 40px;
	}
	.m2{
		width: 100%;

		.form{
			padding: 40px;
		}
		.campo{
			.m{
				width: 100%;
				margin-right: 0;
			}
			.m:first-child{
				margin-bottom: 20px;
			}
		}
	}
}

  