@import '../../../scss/index.scss';

.menu-top {
    display: flex;

    button {
        background-color: transparent;
        color: $font-light;

        &:hover {
            color: $dashboard-primary-color;
        }
        &:focus,
        &:active {
            color: $font-light;
        }
    }

    &__left {
        &-logo {
            width: 50px;
            padding: 0 10px;
            margin: 20px 0px 0px 0px;
        }
        a {
            float: left;
        }
    }

    &__right {
        position: absolute;
        right: 0;
    }
}